<p>images works!</p>
<img style="height: auto; width: 100%;" ngSrc="/assets/email me.png" width="700" height="500" priority="">
<img style="height: auto; width:100%;" ngSrc="/assets/images/638dec5bba38effc8ae10113_Group-44554-_1_-min (1).svg" width="800" height="500">
<img style="height: auto; width:100%;" ngSrc="/assets/images/_25-HP-SolarPanels-D.jpg" width="800" height="500">
<img style="height: auto; width:100%;" ngSrc="/assets/images/638dec5bba38effc8ae10113_Group-44554-_1_-min.avif" width="800" height="500">
<img style="height: auto; width:100%;" ngSrc="/assets/images/chart.png" width="800" height="500"> 
<img style="height: auto; width:100%;" ngSrc="/assets/images/Homepage-SolarRoof-Desktop-Global.webp" width="700" height="500">
<img style="height: auto; width:100%;" ngSrc="/assets/images/SF-LA-Range-Map.jpg" width="1200" height="500">
<img style="height: auto; width:100%;" ngSrc="/assets/images/Rectangle 4 (4).png" width="800" height="500">
<img style="height: auto; width:100%;" ngSrc="/assets/images/Rectangle 4 (3).png" width="800" height="500">
<img style="height: auto; width:100%;" ngSrc="/assets/images/Rectangle 3133.png" width="800" height="500">
<img style="height: auto; width:100%;" ngSrc="/assets/images/pexels-samphan-korwong-6949272.jpeg" width="800" height="500">
<img style="height: auto; width:100%;" ngSrc="/assets/images/pexels-nout-gons-378570.jpg" width="800" height="500">
<img style="height: auto; width:100%;" ngSrc="/assets/images/Homepage-SolarRoof-Desktop-Global.webp" width="800" height="500">
<img style="height: auto; width:100%;" ngSrc="/assets/images/Homepage-SolarRoof-Desktop-Global.webp" width="800" height="500">
<img style="height: auto; width:100%;" ngSrc="/assets/images/Homepage-SolarRoof-Desktop-Global.webp" width="800" height="500">