
<div class="container" style="background: rgb(179, 165, 159);">
  <fieldset>
    <h2 class="align-center">Portal</h2>
    <div class="row">
        <div class="col col-md-8" style="margin-left: 20%;">
          <form [formGroup]="portalForm" (ngSubmit)="DisplayForm()">
            <div class="mb-3 row">
                <label for="firstName" class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="firstName" formControlName ="firstName">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="lastName" class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="lastName" formControlName="lastName">
                </div>
              </div>
              <div class="mb-3" formGroupName="contacts">
                <div class="row">
                  <div class="col col-md-4 ">
                    <div class="mb-3">
                      <label for="dd" class="col-sm-2 col-form-label">Contact</label>
                      <select class="form-select" aria-label="Default select example" formControlName="contactType">
                        <option value="0" >Select</option>
                        <option value="Email">Emil</option>
                        <option value="Phone">Phone</option>
                      </select>
                    </div>
                    <div *ngIf="(portalForm.controls.contacts.dirty && !portalForm.controls.contacts.touched) && !portalForm.controls.contacts.valid" > 
                      Please provide your username.
                    </div>
                  </div>
                </div>
                <div class="row ">
                  <div class="col col-md-6">
                    <label for="email" class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="email" formControlName ="email">
                    </div>
                  </div>
                  <div class="col col-md-6">
                    <label for="phoneNum" class="col-sm-4 col-form-label">Phone Number</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="phoneNum" formControlName="phoneNum">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngFor="let item of skills">
                <div class="mb-3" formArrayName="skills">
                  <label for="dd" class="col-sm-2 col-form-label">Skill</label>
                  <input type="text" class="form-control" id="skill" >                  
                </div>                
              </div>
            
              <button class="btn btn-primary" style="float: right;" type="submit" (click)="submit()">Submit</button>        
          </form>

          <div class="row">
            <button class="col-md-2 btn btn-primary" (click)="showToasterSuccess()">Success</button>
            <button class="col-md-2 btn btn-primary offset-md-2" (click)="showToasterError()">Error</button>
            <button class="col-md-2 btn btn-primary offset-md-2" (click)="showToasterInfo()">Info</button>
          </div>

        </div>
        <div class="col col-md-2"></div>
    </div>
  </fieldset>
</div>
